name: OOP Adventure Workflow

on:
  push:
    branches:
      - main

jobs:

  # This runs before the builds and cretes the new feature release
  create-release:

    name: "Create Release"
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: Use Node.js
        uses: actions/setup-node@v1

      - name: Build
        run: |
          npm install
          npm install gulp -g
          gulp
      
      - uses: actions/upload-artifact@v3
        with:
          name: oop-adventure-package
          path: Releases/
