name: OOP Adventure Workflow

on:
  push:
    branches:
      - main

jobs:

  # This runs before the builds and cretes the new feature release
  create-release:

    name: "Create Release"
    runs-on: "ubuntu-latest"

    # Steps for the task
    steps:

      # Figure out what the next tag should be
      - id: compute_tag
        uses: craig-day/compute-tag@v10
        with:
          github_token: ${{ github.token }}
          version_scheme: semantic
          version_type: minor

      # Create the new release tag based on the above tag value and pass in the generated change log
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.compute_tag.outputs.next_tag }}
          release_name: OOP Adventure ${{ steps.compute_tag.outputs.next_tag }} Release
          draft: false
          prerelease: false


  changelogger:
    runs-on: ubuntu-latest
    needs: create-release

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      # - name: Unshallow
      #   run: git fetch --prune --unshallow

      # Figure out what the CURRENT tag should be
      - id: compute_tag
        uses: craig-day/compute-tag@v10
        with:
          github_token: ${{ github.token }}
          version_scheme: semantic
          version_type: minor

     # Setup dotnet v6.0.x
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: Use Node.js
        uses: actions/setup-node@v1

      - name: Build
        run: |
          npm install
          npm install gulp -g
          gulp
          
      # Update the release with the change log
      - name: Update Release
        id: update_release
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          allow_override: true
          tag: ${{steps.compute_tag.outputs.next_tag}}
          gzip: true
          body: >
            This is a stable build of the OOP Adventure Game's DLL. You'll need .net 6 insalled to play.
          files: >
            oop-adventure:Releases/oop-adventure.dll oop-adventure.runtimeconfig.json